.characterHeader {
  display: grid;
  grid-template-columns: 2fr 4fr 4fr 4fr 2fr; /* 2/3 for select, 1/3 for label */
  grid-template-rows: auto auto;
  gap: 0.5rem;
}

.characterHeader .span-full {
  grid-column: 2 / span 3;
}

.characterHeader input {
  font-size: 1rem;
  border: 0;
  width: 100%;
}

.characterHeader select {
  margin: 0;
  font-size: 1em;
  font-size-adjust: from-font;
  border: 0;
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:max-content;
}

.characterHeader .unit-type-select {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: center;
  border:none;
  width:max-content;
}

.characterHeader .name-input {
  grid-column: 1/3;
  grid-row: 1;
  align-self: center;
  border:none;
}

.characterHeader .equipment-input {
  grid-column: 4 / 6;
  grid-row: 1 / 3;
  border:none;
}

.characterHeader .equipment-list{
  display:flex;
  border:none;
  text-overflow: ellipsis;
}

.equipment-input ul {
  display: flex;
  gap: 0.5rem;
  padding-left: 0.5em; /* keep bullet indent */
}