.stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.span-2 {
  grid-column: 7 / span 2;
}

.stats-table {
  width: 100%;
  border-collapse: collapse;
}
.stats-table th{
  font-weight: bold;
}
.stats-table td {
  border: 1px solid #ccc;
  padding: 4px 8px;
  text-align: center;
}


.centered {
  text-align: center;
}