html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.responsive-window{
  width: 100%;
  min-width: 500px;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  width: 50%;
  margin: 1rem 25%;
}

@media screen and (max-device-width:640px), screen and (max-width:640px) {
  .container {
    width: 100%;
    margin: 0;
  }

  .responsive-window{
    min-width: 0;
    max-width: 100vw;
  }
}

.container > div {
  margin: 2rem 0rem;
}

.button{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border:none;
  gap: 5rem;
  text-align: center;
  font-size: 1em;
}

.title {
  font-family: NotoSerif-Regular, serif;
}

span {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.blue {
  background-color: #ddd0d0;
}

.highlight {
  font-family: NotoSerif-Regular, serif;
  font-weight: bold;
}

body{
  background-image:
    url('./public/artillery+battery_posterized.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  min-height: 100vh;
}

.logo{
  width: 450px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}

.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-icon {
   display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    position: relative;
    text-align: center;
}

.faction-select{
  display:grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto;
  border: none;
}

.faction-input {
  grid-column:2/3;
  height:35%;
  align-self:center;
  font-size:large;
}

.faction-logo{
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  vertical-align: middle;
  grid-column: 3;
}